@page "/incidents"
@rendermode InteractiveServer
@inject HttpClient Http

<PageTitle>Incident</PageTitle>

<h3>Incident Search</h3>

<div class="mb-3">
    <label>Title</label>
    <input @bind="title" class="form-control" />
</div>

<div class="mb-3">
    <label>Description</label>
    <input @bind="description" class="form-control" />
</div>

<div class="mb-3">
    <label>Severity</label>
    <input @bind="severity" class="form-control" />
</div>

<div class="mb-3">
    <label>Owner</label>
    <input @bind="owner" class="form-control" />
</div>

<button class="btn btn-primary"
        @onclick="NewSearch"
        disabled="@isLoading">
    Search
</button>
<br />

<p>Last query time: @queryTime seconds</p>

@if (isLoading)
{
    <p class="text-primary">Searching...</p>
}

@if (incidents != null && incidents.Count == 0)
{
    <p class="text-danger">No incidents found.</p>
}

@if (incidents != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Severity</th>
                <th>Owner</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var i in incidents)
            {
                <tr>
                    <td>@i.Title</td>
                    <td>@i.Description</td>
                    <td>@i.Severity</td>
                    <td>@i.Owner?.FirstName @i.Owner?.LastName</td>
                    <td>@i.Owner?.Email</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mt-4 text-center">

        <button class="btn btn-secondary"
                @onclick="PreviousPage"
                disabled="@(pageAt == 1 || isLoading)">
            Previous
        </button>

        <span class="mx-3">
                Page @pageAt
        </span>

        <button class="btn btn-secondary"
                @onclick="NextPage"
                disabled="@(!hasNextPage || isLoading)">
            Next
        </button>

</div>
}

@code {

    string? title;
    string? description;
    string? severity;
    string? owner;
    int pageAt = 1;
    int pageSize = 10;
    bool hasNextPage = true;
    bool isLoading = false;

    double queryTime;

    List<IncidentDto>? incidents;

    async Task Search()
    {
        isLoading = true;

        await Task.Delay(10000);
        var start = DateTime.Now;

        var url = $"https://localhost:7216/api/Incidents?title={title}&description={description}&severity={severity}&owner={owner}&page={pageAt}&pageSize={pageSize}";

        incidents = await Http.GetFromJsonAsync<List<IncidentDto>>(url);

        queryTime = (DateTime.Now - start).TotalSeconds;

        hasNextPage = incidents != null && incidents.Count == pageSize;

        isLoading = false;
    }

    async Task NewSearch()
    {
        pageAt = 1;
        await Search();
    }

    async Task NextPage()
    {
        pageAt++;
        await Search();
    }

    async Task PreviousPage()
    {
        if (pageAt > 1)
        {
            pageAt--;
            await Search();
        }
    }

    public class IncidentDto
    {
        public int? Id { get; set; }
        public string? Title { get; set; }
        public string? Description { get; set; }
        public string? Severity { get; set; }
        public OwnerDto? Owner { get; set; }
    }

    public class OwnerDto
    {
        public int Id { get; set; }
        public string? FirstName { get; set; }
        public string? LastName { get; set; }
        public string? Email { get; set; }
    }
}